## Задания по семинару 2 (ДЗ)

В ячеке под заданием приведите его решение. Для заданий, рассмотренных на семинаре, можете использовать решение полученное на занятии.

-----

0) Получить переменную, содержащую строку со значением равным двум в одиннадцатой степени и вывести ее на экран.

In [2]:
s=2**11
print(str(s))

2048

1) Наибольшим количеством способов создать строковую переменную, содержащую текст:

It's "quoted string"

In [7]:
a='''It's "quoted string"'''
print(a)
a1="It's" + ''' "quoted''' + ''' string"'''
print(a1)
a2=' '.join(['''It's''',  '''"quoted''', '''string"'''])
print(a2)

It's "quoted string"
It's "quoted string"
It's "quoted string"

2) Наибольшим количеством способов создать строковую переменную, содержащую текст:

line1

line2

line3

In [12]:
a="line1 \nline2 \nline3"
print(a)
print('''
line1
line2
line3''')

line1
line2
line3

line1
line2
line3

3) Наибольшим количеством способов создать строковую переменную, содержащую текст:

\\\\

\\\

\\

\

In [28]:
a='''\\\\\\\\ 
\\\\\\ 
\\\\ 
\\'''
print(a)

\\\\
\\\
\\
\

4) Вывести 5й с начала и 5й с конца символ из строки 'Hello world'

In [32]:
a='Hello world'
print(a[4],a[-5])

o w

5) Двумя способами получить символ 'w' из строки 'Hello world'

In [33]:
print(a[len(a)-5], a[6])

w w

6) Вывести символ, находящийся в середине заранее неизвестной строки, полученной с помощью функции input().

Пример использования функции input:

In [79]:
# поместить строку, введенную пользователем, в переменную st
st = input()

Amkar

In [80]:
g=len(st)
g1=g
if g % 2 == 1:
    while g1 != (g-1)/2:
        g1-=1
    print(st[g1])
else: 
    while g1!=g/2:
        g1-=1
    print(st[g1])

k

7) Для строки 'Light ray' двумя способами получить подстроку с 1го по 4й символы включительно.

In [95]:
q='Light ray'
print(q[0:5])
for i in range(5):
    print(q[i], end='')

Light
Light

8) Для строки 'My new text' двумя способами получить подстроку с 3го по 7й символы включительно.

In [102]:
w= 'My new text'
print(w[3:8])
print(w[3],w[4],w[5],w[6],w[7])

new t
n e w   t

9) Получить подстроку из последних 4х символов строки 'Light ray'.

In [104]:
print(q[-4:])

 ray

10) Составить строку из всех четных символов строки 'Light ray'.

In [106]:
print(q[1::2])

ih a

11) Составить строку из всех нечетных символов строки 'Light ray'.

In [107]:
print(q[::2])

Lgtry

12) Инвертировать (получить строку с обратной последовательностью символо) строку  'Light ray'.

In [109]:
t=0
while t!=-9:
    t-=1
    print(q[t], end='')

yar thgiL

13) Вывести c третьего с начала до предпоследнего символа заранее низвестной строки, полученной с помощью функции input().

In [110]:
y=input()

Amkar

In [118]:
u=len(y)
o=1
while o!=u-1:
    o+=1
    print(y[o], end='')

kar

14) Получить подстроку неизвестной заранее строки, содержащую половину символов строки и расположенную по середине строки.

In [130]:
y=input()

Amkar

In [131]:
u=len(y)
if u % 2 == 0:
    u=u/2
else:
    u=(u-1)/2
u1=0
y1=''
while u1!=u:
    u1+=1
"{0:^20}".format(y[:u1:1])

'         Am         '

15) Проверить, содержит ли произвольная строка, прочитанная в обратную сторону последовательность 'eno'

In [1]:
p=input()

Amkar one

In [6]:
p1=p[::-1]
print(p1.find('eno'))

0

16) Получить строку, начинающуюся с последних 3 символов стркои 'Light ray', а заканчивающуюся подстрокой с 1го до 4го  символа строки.

In [7]:
a = 'Light ray'
a1 = a[-3:]
a2 = a[0:4]
print(a1 + a2)

rayLigh

17) Коротко записать создание строки 'oneoneoneoneoneonetwotwotwo'

In [1]:
a=6*'one' + 3*'two'
print(a)

oneoneoneoneoneonetwotwotwo

18) Разбить строку на список из строк, состоящих только из названий чисел.

In [24]:
st = '  one,two,three,four,five,six,seven,eight,nine,ten   '
st.split(',')

['  one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten   ']

19) Вставить между всеми символами строки 'Hello world' стрелочку '->' и сохранить результат в строковой переменной.

Ожидаемый результат:

In [4]:
b='Hello world'
b1=len(b)-1
for i in range(b1+1):
    if i==b1:
        print(b[i])
    else:
        print(b[i], end='->')

H->e->l->l->o-> ->w->o->r->l->d

H->e->l->l->o-> ->w->o->r->l->d

20) Для двух произвольных строк провести сравнение на совпадение содержимого без учета регистра букв и начальных и конечных пробельных символов.

Например, для двух строк

In [3]:
st1 = '     hElLo WorLD  '

In [4]:
st2 = 'hello WORLD  '

In [11]:
st2 = 'hello WORLD  '
st1 = '     hElLo WorLD  '
st3=st2.upper()
st4=st1.upper()
print(st3.strip())
print(st4.strip())
st3.strip() == st4.strip()

HELLO WORLD
HELLO WORLD

True

такое сравнение должно возвращать True (содержание строк совпадает).

21) В строке 'hello hello Hello hello' найти индекс второго вхождения подстроки 'hel'

In [12]:
m='hello hello Hello hello'
print(m.find('hel', 3, 11))

6

22) В строке 'hello hello Hello hello' найти индекс второго С КОНЦА вхождения подстроки 'hel'

In [13]:
print(m.find('hel', -18, ))

6

23) Из заранее неизвестной строки вырезать подстроку, начинающуюся с 'he' и заканчивающееся 'on'. Протестировать на строке

    start hello python world

In [15]:
b=input()

    start hello python world

In [27]:
p1=b.find('he')
p2=b.find('on')
print(b[p1:p1 + 2] + b[p2:p2 + 2])

heon

24) Используя цикл for и функцию enumerate() (см. лекцию 2) вывести произвольную строку на экран и при этом убрать все пробелы и на их месте вывести номер слова по счету

Пример.

Исходная строка:

hello hello Hello hello

выведено на экран:

hello1hello2Hello3hello4

In [13]:
a = input()
print(a.split())

hello hello Hello hello
['hello', 'hello', 'Hello', 'hello']

In [25]:
b = a.split()
for index, value in enumerate(b):
    i=int(index + 1)
    print(value, i, end='', sep='')

hello1hello2Hello3hello4

25) Сформировать строку форматирования, которая для вызова

format('val1', 'val2', 'val3')

будет возрващать следующий результат:

val3-val2-val1-val2-val3

In [30]:
print("{2}-{1}-{0}-{1}-{2}".format('val1', 'val2', 'val3'))

val3-val2-val1-val2-val3

26) Сформировать строку форматирования fs, которая при использовании в нижеследующем коде приводит к формированию таблицы, выведенной в следующей ячейке.

In [35]:
print('0123456789' * 4)
fs = ' | {line:>3} | | {1:#>8.2f} | | {0:=8,d} | |{2:0>8b}|' # задайте тут свою строку форматирования
print(fs.format(453, 59.058, 1, line=1))
print(fs.format(123453, 159.0, 7, line=5))
print(fs.format(-12, -159.099, 16, line=15))
print(fs.format(1200, -1059.099, 255, line=105))

0123456789012345678901234567890123456789
 |   1 | | ###59.06 | |      453 | |00000001|
 |   5 | | ##159.00 | |  123,453 | |00000111|
 |  15 | | #-159.10 | | -     12 | |00010000|
 | 105 | | -1059.10 | |    1,200 | |11111111|

In [32]:
print("""
0123456789012345678901234567890123456789
|   1 | ###59.06|      453 | 00000001 |
|   5 | ##159.00|  123,453 | 00000111 |
|  15 | #-159.10| -     12 | 00010000 |
| 105 | -1059.10|    1,200 | 11111111 |
""")

0123456789012345678901234567890123456789
|   1 | ###59.06|      453 | 00000001 |
|   5 | ##159.00|  123,453 | 00000111 |
|  15 | #-159.10| -     12 | 00010000 |
| 105 | -1059.10|    1,200 | 11111111 |